label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}

input {
  width: 90%;
  height: 36px;
  background-color: #d3d1d1;
  border-radius: 6px;
  border: none;
  padding-right: 10px;
}

/* In case we want to go exactly like figma, then delete this entirely */
.expiration input {
  width: 17%;
  display: flex;
  margin-left: 20px;
}

.securityCode input {
  width: 10%;
  display: flex;
  margin-left: 22px;
}

.smallInput {
  display: flex;
  color: blue;
}
