.store {
  margin-top: 10px;
  height: -webkit-fill-available;
  position: fixed;
  overflow: scroll;
  padding-bottom: 250px;
}

.category {
  padding-top: 40px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  /* margin: 10px; */
}

.items {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  flex-wrap: wrap;
  width: fit-content;
}
p {
  font-size: 18px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.lineThrough:after,
.lineThrough:before {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
}
