.item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1% 0px;
}

.close {
  width: 3%;
}

.image img {
  width: 4px;
  height: 4px;
}

.name {
  font-size: 14px;
  width: 20%;
}

.quantityContainer {
  display: flex;
  align-items: center;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  background-color: white;
}
