.confirmation {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}

.confirmationText {
  padding: 7px 15px 0 15px;
}

h4 {
  color: black;
  margin-top: 20px;
  font-size: 25px;
  margin-left: 10px;
}

h3 {
  margin-top: 20px;
  border: 2px solid black;
  height: 250px;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 20px;
  color: green;
  background-color: #b1dda9 !important;
  text-align: center;
  padding: 4px;
  text-indent: 10px;
}
