.adminPage {
  /* width: max-content; */
}

.userDetails {
  height: 30%;
  width: 80%;
  background-color: transparent;
  border: none;
  color: black;
  width: px;
}

.userDetails {
  display: flex !important;
  text-decoration-thickness: 1%;
  width: 17%;
  border-bottom: none !important;
  padding-left: 0% !important;
  padding-right: 0% !important;
  font-size: 16px;
}
.ant-collapse {
  width: 79%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 2px;
  margin-left: 71px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  width: 20px;
}

table {
  width: 100%;
  font-size: 15px;
}
