.cartIcon {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(47, 100%, 82%);
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.cartIcon img {
  width: 32px;
  height: 32px;
}

.checkOut {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px 5px 10px 10px;

  width: 378px;
  background-color: #c4c4c4;
}

.totalPrice {
  justify-content: center;
  display: flex;
  font-size: 19px;
  line-height: 30px;
  height: 38px;
  width: 140px;
  margin-left: 15px;
  background-color: rgb(131, 130, 130);
  color: white;
  border-radius: 5px;
  padding: 3px;
}

.checkOut Button {
  display: flex;
  background: #8ee57e;
  color: black;
  border-color: #b1dda9;
  justify-content: center;
  margin-left: 70px;

  font-size: 19px;
  height: 40px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(148, 148, 148);
}
