.cart {
}
.cartIcon {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffdc60;
}

.cartIcon img {
  width: 24px;
  height: 24px;
}

.drawer {
}
