.checkout {
  padding-bottom: 20px;
}

label {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.shippingTitle {
  padding: 20px 0 10px 0;
}
.error {
  color: rgb(194, 41, 41);
}
input {
  width: 90%;
  height: 36px;
  background-color: #d3d1d1;
  border-radius: 6px;
  border: none;
  padding-right: 10px;
}

.paymentMethodTitle label {
  margin-left: 100px;
}

.paymentMethods {
  display: flex;
  justify-content: space-evenly;
}

.placeOrder {
  background-color: #ffea9f !important;
  font-size: 18px;
  height: max-content;
}

h5 {
  display: flex;
  margin-left: 10px;
  font-size: 20px;
  padding-top: 20px;
}
.tableTotal {
  margin-left: 5%;
  align-items: center;
  align-self: center;
  width: 90%;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
}
th {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-color: #f3eacb;
}

tr:nth-child(even) {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-color: rgb(211, 208, 208);
}
tr:not(thead):nth-child(odd) {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-color: transparent;
}

.totalPrice {
  border: 2px solid black;
  width: 120px;
  margin: auto;
  margin-top: 5px;
}
