.checkout {
  padding-bottom: 20px;
}

label {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.shippingTitle {
  padding: 20px 0 10px 0;
}
.error {
  color: rgb(194, 41, 41);
}
input {
  width: 90%;
  height: 36px;
  background-color: #d3d1d1;
  border-radius: 6px;
  border: none;
  padding-right: 10px;
}

.paymentMethodTitle label {
  margin-left: 100px;
}

.paymentMethods {
  display: flex;
  justify-content: space-evenly;
}

.placeOrder {
  background-color: #ffea9f !important;
  font-size: 18px;
  height: max-content;
}

h5 {
  display: flex;
  margin-left: 10px;
  font-size: 20px;
  padding-top: 20px;
}
