.checkout {
  padding-bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

input {
  width: 90%;
  height: 36px;
  background-color: #d3d1d1;
  border-radius: 6px;
  border: none;
  padding-right: 10px;
}

.paymentMethodTitle label {
  margin-left: 100px;
}

.paymentMethods {
  display: flex;
  justify-content: space-evenly;
}

.placeOrder {
  background-color: #ffea9f;
  font-size: 18px;
  height: max-content;
}

h5 {
  display: flex;
  margin-left: 10px;
  font-size: 20px;
}
