.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}

.products {
  max-height: 640px;
  overscroll-behavior-y: contain;
  position: relative;
  overflow: auto;
}
