.navBar {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  height: 56px;
}

.button Button {
  background: black;
  border: 1px solid rgb(0, 0, 0) !important;
  color: white;
  height: 54px !important;
  border-radius: 0px !important;
}
