@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
}

.email,
.password {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  transform: scale(1.3);
  line-height: 25px;
}

.emailInput,
.passwordInput {
  width: 200px;
  border-radius: 8px;
}

.button {
  transform: scale(1.4);
}
