.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.email,
.password {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  transform: scale(1.3);
  line-height: 25px;
}

.emailInput, .passwordInput {
  width: 200px;
  border-radius: 8px;
}

.loginBtn {
transform: scale(1.2);
}
