.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email,
.password {
  display: flex;
  flex-direction: column;
  text-align: left;
}
