.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}

.logo img {
  width: 228px;
  height: 52px;
}
.selectActive {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 70px 25%;
  transform: scale(1.4);
  width: 50%;
}
