.submit {
  background-color: black;
  color: white;
}

.register {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  transform: scale(1.2);
}

.nameLabel,
.emailLabel,
.passwordLabel,
.confirmPasswordLabel {
  display: flex;
  text-align: left;
  justify-content: left;

  /* margin-left: 105px; */
}

/* label {
  display: flex;
  text-align: left;
  margin-left: 105px;
} */

.nameInput,
.emailInput,
.passwordInput,
.confirmPasswordInput {
  border-radius: 8px;
  width: 200px;
}

.button {
  transform: scale(1.4);
}
